@mixin visually_hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

@mixin fs_header_link {
  font-size: 16px;
  line-height: 1.2;

  @media (max-width: $tablet_max) {
    font-size: 14px;
  }

  @media (max-width: $mobile_max) {
    font-size: 16px;
  }
}

@mixin fs_header_button {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $tablet_max) {
    font-size: 10px;
  }

  @media (max-width: $mobile_max) {
    font-size: 12px;
  }
}

@mixin fs_preamble_title {
  font-size: 42px;
  line-height: 48px;

  @media (max-width: $tablet_max) {
    font-size: 36px;
    line-height: 42px;
    font-weight: 800;
  }

  @media (max-width: $mobile_max) {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin fs_preamble_text {
  font-family: "Оpen Sans", "Мontserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $tablet_max) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: $mobile_max) {
    font-size: 12px;
    line-height: 16px;
  }
}

@mixin fs_preamble_button {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $tablet_max) {
    font-size: 10px;
  }

  @media (max-width: $mobile_max) {
    font-size: 12px;
  }
}

@mixin fs_scroll {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;

  @media (max-width: $tablet_max) {
    font-size: 12px;
  }
}

@mixin fs_info_title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;

  @media (max-width: $tablet_max) {
    font-size: 18px;
  }
}

@mixin fs_block_title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $tablet_max) {
    font-size: 24px;
  }

  @media (max-width: $mobile_max) {
    font-size: 16px;
  }
}

@mixin fs_block_subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $tablet_max) {
    font-size: 20px;
  }

  @media (max-width: $mobile_max) {
    font-size: 18px;
  }
}

@mixin image($name, $type, $is_tablet, $is_mobile) {
  background-color: $dark;
  background-repeat: no-repeat;
  background-image: url("../img/#{$name}__desktop@1x.#{$type}");

  @media (min-resolution: $retina_dpi),
  (min-resolution: $retina_dppx) {
    background-image: url("../img/#{$name}__desktop@2x.#{$type}");
  }

  @media (max-width: $tablet_max) {
    @if $is_tablet=='true' {
      background-image: url("../img/#{$name}__tablet@1x.#{$type}");

      @media (min-resolution: $retina_dpi),
      (min-resolution: $retina_dppx) {
        background-image: url("../img/#{$name}__tablet@2x.#{$type}");
      }
    }
  }

  @media (max-width: $mobile_max) {
    @if $is_mobile=='true' {
      background-image: url("../img/#{$name}__mobile@1x.#{$type}");

      @media (min-resolution: $retina_dpi),
      (min-resolution: $retina_dppx) {
        background-image: url("../img/#{$name}__mobile@2x.#{$type}");
      }
    }
  }
}
